@import 'imports/reset.sass'
@import 'imports/functions.sass'
@import 'imports/variables.sass'
@import 'imports/global.sass'
@import 'imports/fonts.sass'

body
    background-image: url(../img/bg.png);
    background-size: cover
    background-repeat: no-repeat;
    @import 'imports/header.sass'
    @import 'content/main.sass'
    @import 'imports/footer'