footer
    .footer-top
        ul.terms
            li 
                a(href="#").footer-fonts TERMS OF SERVICE
            li 
                a(href="#").footer-fonts PRIVACY POLICY
        ul.lang-switcher 
            li 
                .lang-img
                    include ../svg/lang
                a(href="#").footer-fonts ENGLISH
            li 
                a(href="#").footer-fonts ENGLISH
    .footer-bottom
        .main-logo
            a(href="#")
                img(src="static/img/logo.png", alt="")
        p.footer-fonts.copyright <span> Copyright © 2020 Lineage 2 </span> This site is in no way associated with or endorsed by NCSoft
        .red-logo
            p.footer-fonts-big 16
        