header 
    a(href="/").header-logo.dark_blue-background
        include ../svg/header-logo
    #burger.closed
    .menu#menu
        nav 
            ul 
                li 
                    a(href="/").header-fonts.active Main
                li 
                    a(href="#").header-fonts Worlds
                li 
                    a(href="#").header-fonts Buy Coins
                li 
                    a(href="#").header-fonts Statistic
                li 
                    a(href="#").header-fonts Community
        .actions-bar
            ul 
                li.dark_blue-background  
                    a(href="#").signUp.header-fonts Sign Up
                li.dark_blue-background 
                    a(href="#").signUp.active.header-fonts Login
                li 
                    a(href="#downloadContent")#download.header-fonts-big Download   
        
        
        