section.main
    .top-section
        img(src="static/img/main-logo.png", alt="")
        .world-status-box
            .world-item
                span.header-fonts.white World 1
                span.green-font 9809
            .world-item.error
                span.header-fonts.white World 2
                span.error-font Under Maintenance

    include partials/slider
    include partials/panel

    .worlds_info
        .worlds_switcher
            a(href="#").footer-fonts-big.active_world World 1
            a(href="#").footer-fonts-big World 2
        h3.h3-font High Five 
            span X5
        ul.info 
            li.info-item.header-fonts.white XP: X5 
            li.info-item.header-fonts.white XP: X5 
            li.info-item.header-fonts.white XP: X5 
            li.info-item.header-fonts.white XP: X5 
            li.info-item.header-fonts.white XP: X5 
            li.info-item.header-fonts.white XP: X5 
        img(src="static/img/world-1-img.png", alt="")
                    