.download-content#downloadContent
    #closeDonwload
    .top-bar
        span.green-font Download
        ul  
            li.active-download-world#downloadW1
                a(href="#").header-fonts World 1
            li#downloadW2 
                a(href="#").header-fonts World 2
    .download-main
        .options
            p.dotted.header-fonts-big Choose the best download option (File size: <span> 7.5GB </span>)
            ul.options-list.m50-t-b
                li
                    a(href="#").green-font.red.p30-t-b MEGA
                li
                    a(href="#").green-font.p30-t-b Torrent
                li
                    a(href="#").green-font.blue.p30-t-b Mediafire
        .manual
            p.dotted.header-fonts-big Manual Update (File size:<span> 109MB </span>)
            a(href="#").p30-t-b.green-font.m50-t-b Download
        .requirements
            p.dotted.header-fonts-big System Requirements
            table(cellspacing="0" cellpadding="0").requirements-list.m50-t-b
                tr
                    th.h4-font Components
                    th.h4-font Minimum
                    th.h4-font Recomended
                tr 
                    td.header-fonts CPU  
                    td.header-fonts Intel® Pentium® 4 3.0 GHz 
                    td.header-fonts Intel® Core™2 Duo 6300  
                tr 
                    td.header-fonts Memory  
                    td.header-fonts 2 GB or more RAM    
                    td.header-fonts 4 GB or more RAM 
                tr 
                    td.header-fonts Video card  
                    td.header-fonts NVIDIA® GeForce® 6600 GT 
                    td.header-fonts NVIDIA® GeForce® 7600 GT 
                tr 
                    td.header-fonts Connection  
                    td.header-fonts 56k Internet connection 
                    td.header-fonts Broadband Internet Connection 
                tr 
                    td.header-fonts Hard Disc  
                    td(colspan="2").header-fonts.table-center 30 GB or higher free space  
                tr 
                    td.header-fonts Direct X  
                    td(colspan="2").header-fonts.table-center Direct X 9.0c or above 
                tr 
                    td.header-fonts Operating System  
                    td(colspan="2").header-fonts.table-center Windows 7 32bit / Windows 8 32bit / Windows 10 32bit

    .download-main
        .options
            p.dotted.header-fonts-big Choose the best download option (File size: <span> 7.5GB </span>) 2
            ul.options-list.m50-t-b
                li
                    a(href="#").green-font.red.p30-t-b MEGA
                li
                    a(href="#").green-font.p30-t-b Torrent
                li
                    a(href="#").green-font.blue.p30-t-b Mediafire
        .manual
            p.dotted.header-fonts-big Manual Update (File size:<span> 109MB </span>)
            a(href="#").p30-t-b.green-font.m50-t-b Download
        .requirements
            p.dotted.header-fonts-big System Requirements
            table(cellspacing="0" cellpadding="0").requirements-list.m50-t-b
                tr
                    th.h4-font Components
                    th.h4-font Minimum
                    th.h4-font Recomended
                tr 
                    td.header-fonts CPU  
                    td.header-fonts Intel® Pentium® 4 3.0 GHz 
                    td.header-fonts Intel® Core™2 Duo 6300  
                tr 
                    td.header-fonts Memory  
                    td.header-fonts 2 GB or more RAM    
                    td.header-fonts 4 GB or more RAM 
                tr 
                    td.header-fonts Video card  
                    td.header-fonts NVIDIA® GeForce® 6600 GT 
                    td.header-fonts NVIDIA® GeForce® 7600 GT 
                tr 
                    td.header-fonts Connection  
                    td.header-fonts 56k Internet connection 
                    td.header-fonts Broadband Internet Connection 
                tr 
                    td.header-fonts Hard Disc  
                    td(colspan="2").header-fonts.table-center 30 GB or higher free space  
                tr 
                    td.header-fonts Direct X  
                    td(colspan="2").header-fonts.table-center Direct X 9.0c or above 
                tr 
                    td.header-fonts Operating System  
                    td(colspan="2").header-fonts.table-center Windows 7 32bit / Windows 8 32bit / Windows 10 32bit



