.download-content
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99999;
    display: none;
    @media screen and ( max-width: 768px )
        left: 0;
        height: 100%;
        #closeDonwload
            position: absolute;
            width: calculateWidth(50)
            height: calculateWidth(50)
            background-color: $black;
            cursor: pointer
            top: 0;
            right: calculateWidth(-20 - 50)
            z-index: 999999999999999999999999999999999999999999999999999999999999999999999;
            @media screen and ( max-width: 768px )
                top: initial;
                right: 0
                width: 50px
                height: 50px
            &::after,
            &::before
                width: 50%;
                height: 1px
                content: ' ';
                position: absolute;
                top: 50%;
                margin-top: -0.5px
                background-color: $red
                left: 50%;
                margin-left: -25%;
                transform: rotate(45deg)
            &::before
                transform: rotate(-45deg)
    .top-bar
        width: 100%;
        display: flex;
        padding: calculateHeight(40) calculateWidth(60)
        align-items: center;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.8)
        height: 150px
        @media screen and ( max-width: 768px )
            background-color: rgba(255, 255, 255, 1)
        span 
            color: $download;
        ul 
            display: flex;
            align-items: center;
            justify-content: center
            li 
                padding: calculateHeight(10) calculateWidth(35)
                background-color: red
                margin-left: 10px
                border-radius: 25px
                background-color: rgba(0, 0, 0, 0.7)
                @media screen and ( max-width: 768px )
                    background-color: rgba(0, 0, 0, 1)
                a
                    color: $links-light
                    white-space: nowrap
            .active-download-world
                background-color: $signup
                width: 100%;
                height: 100%;   
                a
                    color: $aqva
    .download-main
        padding: calculateHeight(100) calculateWidth(140) calculateHeight(200)
        background-color: $download-bg
        height: calc(100% - 150px)
        @media screen and ( max-width: 768px )
            padding: tH(100) tW(140) tH(200)
            background-color: rgba(11,24,49,1)
        @media screen and ( max-width: 500px )
            padding: 12px
        .options
            .options-list
                display: flex;
                justify-content: space-between
                align-items: center
                @media screen and ( max-width: 768px )
                    flex-wrap: wrap
                li 
                    width: 30%;
                    display: flex;
                    justify-content: center
                    background-color: $signup
                    @media screen and ( max-width: 768px )
                        width: 45%;
                        margin-bottom: 20px
                    a
                        width: 100%;
                        height: 100%;
                        text-align: center
                        border: 1px solid currentColor;
        .manual
            a
                width: 30%;
                display: block
                text-align: center;
                background: $arrow
                color: $dark-blue
                @media screen and ( max-width: 768px  )
                    width: auto
        .requirements
            @media screen and ( max-width: 500px )
                display: none
            table
                width: 100%;
                border: initial
                @media screen and ( max-width: 768px )
                    overflow: scroll;
                tr
                    th,
                    td
                        text-align: left
                        padding: calculateHeight(30) calculateWidth(50)
                    th
                        background-color: $th
                    td
                        color: $links-light