.control-panel
    .news
        .top-bar.platform-pading
            h3.header-fonts-big.white News
            .plus
        ul.main-bar.platform-pading
            li.main-bar-item
                a(href="#") 
                    img(src="../static/img/avatar.png", alt="").ico 
                    span.date.date-fonts 02 June 2020
                    h4.title.h4-font <span> New </span> The World 2 is coming! The new...
            li.main-bar-item
                a(href="#") 
                    img(src="../static/img/avatar.png", alt="").ico 
                    span.date.date-fonts 02 June 2020
                    h4.title.h4-font <span> New </span> The World 2 is coming! The new...
            li.main-bar-item
                a(href="#") 
                    img(src="../static/img/avatar.png", alt="").ico 
                    span.date.date-fonts 02 June 2020
                    h4.title.h4-font <span> New </span> The World 2 is coming! The new...
    .ranking
        .top-bar.platform-pading
            h3.header-fonts-big.white Ranking
            ul.worlds-list
                li 
                    a(href="#").mini-fonts World 1
                li 
                    a(href="#").mini-fonts World 1
                li 
                    a(href="#").mini-fonts World 1
                
        ul.ranking-bar
            li.ranking-bar-item
                h3.header-fonts PVP
            li.ranking-bar-item
                .position.header-fonts 1
                span.player.header-fonts L2Master
                span.score.date-fonts Score: <span> 26/0 </span>
            li.ranking-bar-item
                .position.header-fonts 2
                span.player.header-fonts MageOnCrack
                span.score.date-fonts  Score: <span> 26/0 </span>
            li.ranking-bar-item
                .position.header-fonts 3
                span.player.header-fonts PVPKing
                span.score.date-fonts  Score: <span> 26/0 </span>
            li.ranking-bar-item
                .position.header-fonts 4
                span.player.header-fonts TheWorstP
                span.score.date-fonts  Score: <span> 26/0 </span>
            li.ranking-bar-item
                .position.header-fonts 5
                span.player.header-fonts GodnessisHere
                span.score.date-fonts  Score: <span> 26/0 </span>
    
    .platform
        a(href="#").platform-item
            img(src="../static/img/discord.png", alt="")
        a(href="#").platform-item
            img(src="../static/img/youtube.png", alt="")
        a(href="#").platform-item
            img(src="../static/img/facebook.png", alt="")