.slider
    .buttons
        .button.active-btn
        .button
        .button
    .slide 
        .text-box
            span.header-fonts-big Weeknd EVENT!
            h2.h2-font <span> EXP X2 </span> in all  Worlds! 
        img(src="../static/img/slider-item.png", alt="")