.slider#slider
    .buttons
        .button.active-slide.bt-1
        .button.bt-2
        .button.bt-3
    .slide.bt-1
        .text-box
            span.header-fonts-big Weeknd EVENT!
            h2.h2-font <span> EXP X2 </span> in all  Worlds! 
        img(src="static/img/slider-item.png", alt="")
    .slide.bt-2 
        .text-box
            span.header-fonts-big Weeknd EVENT 2 !
            h2.h2-font <span> EXP X2 </span> in all  Worlds! 
        img(src="static/img/slider-item.png", alt="")
    .slide.bt-3 
        .text-box
            span.header-fonts-big Weeknd EVENT 3 !
            h2.h2-font <span> EXP X2 </span> in all  Worlds! 
        img(src="static/img/slider-item.png", alt="")