.top-section
    img(src="static/img/main-logo.png", alt="")
    .world-status-box
        .world-item
            span.header-fonts.white World 1
            span.green-font 9809
        .world-item.error
            span.header-fonts.white World 2
            span.error-font Under Maintenance