doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(title="Linage")
        meta(description="Linage layout")
        link(rel="stylesheet", href="static\\css\\main.css")
        //- link(rel="stylesheet", href="static\\css\\slick.css")
        title Linage
        link(rel="shortcut icon", href="static/img/L.png", type="image/x-icon")
    body
        include components/header
        include modals/signup
        include components/main
        include components/footer
        
        script(src="static//js//main.js")