@font-face 
    font-family: 'Olney light';
    src: url(../fonts/olney_light.otf);
    font-display: swap;

.header-fonts
    font-family: 'Olney light'
    font-size: calculateWidth(16)
.header-fonts-big
    font-family: 'Olney light'
    font-size: calculateWidth(24)
.footer-fonts
    font-family: 'Olney light'
    font-size: calculateWidth(15)
    color: $gray;
.footer-fonts-big
    font-family: 'Olney light'
    font-size: calculateWidth(36)
    color: $white;
.green-font
    font-family: 'Olney light'
    font-size: calculateWidth(30)
    color: $green;
.error-font
    font-family: 'Olney light'
    font-size: calculateWidth(24)
    color: $error;
.h2-font
    font-family: 'Olney light'
    font-size: calculateWidth(60)
    color: $white;
.date-fonts
    font-family: 'Olney light'
    font-size: calculateWidth(14)
    color: $gray;
.h4-font
    font-family: 'Olney light'
    font-size: calculateWidth(18)
    color: $news-span;
.mini-fonts
    font-family: 'Olney light'
    font-size: calculateWidth(13)
    color: $white;
.h3-font
    font-family: 'Olney light'
    font-size: calculateWidth(48)
    color: $white;

@media screen and ( max-width: 768px )
    .header-fonts
        font-size: tW(16)
    .header-fonts-big
        font-size: tW(24)
    .footer-fonts
        font-size: tW(15)
    .footer-fonts-big
        font-size: tW(36)
    .green-font
        font-size: tW(30)
    .error-font
        font-size: tW(24)
    .h2-font
        font-size: tW(60)
    .date-fonts
        font-size: tW(14)
    .h4-font
        font-size: tW(18)
    .mini-fonts
        font-size: tW(13)
    .h3-font
        font-size: tW(48)
    
@media screen and ( max-width: 500px )
    .header-fonts
        font-size: 16px
    .header-fonts-big
        font-size: 24px
    .footer-fonts
        font-size: 15px
    .footer-fonts-big
        font-size: 36px
    .green-font
        font-size: 30px
    .error-font
        font-size: 24px
    .h2-font
        font-size: 60px
    .date-fonts
        font-size: 14px
    .h4-font
        font-size: 18px
    .mini-fonts
        font-size: 13px
    .h3-font
        font-size: 48px
